*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
button,
label {
  cursor: pointer;
}
ul,
li,
a,
button,
label,
input[type="text"]:focus {
  outline: none;
  outline-offset: 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  margin-top: 5px;
  inline-size: 1140px;
}
.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
  inline-size: 62.3%;
}
.result__video-container {
  position: relative;
  max-height: 386px;
  inline-size: 100%;
  block-size: 100%;
}
.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 386px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.search-form__fieldset {
  border: none;
  appearance: none;
}
.search-form__fieldset-title {
  margin-block-end: 5px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: inherit;
}
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-block-end: 5px;
}
.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: fit-content;
  appearance: none;
}
.search-form__label:focus {
  outline: none;
  outline-offset: 0;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}
.search-form__textfield {
  border-top: 1px solid #fff;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #fff;
  border-left: 1px solid transparent;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  inline-size: 225px;
}

.search-form__textfield:active {
  border: 1px solid transparent;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label:has(:checked) .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  text-decoration: none;
  background-color: #fff;
}
.search-form__label:has(:hover) .search-form__label-text {
  text-decoration: underline;
}
.search-form__label:has(:active) .search-form__label-text {
  text-decoration: none;
}

.button {
  border: 1px solid currentColor;
  color: currentColor;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  text-decoration: none;
  background-color: #545050;
}
.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}
.search-form__submit-button {
  padding: 6px 73.5px;
}
.content__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  inline-size: 35%;
}
.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list {
  position: relative;
  overflow: auto;
  inline-size: 399px;
  block-size: 298px;
}
.content__list-item:not(:last-child) {
  margin-bottom: 35px;
}
.content__card-link {
  display: block;
  margin: 3px;
  color: inherit;
  text-decoration: none;
}
.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
.content__video-card-description-container {
  overflow: hidden;
  text-overflow: ellipsis;
  inline-size: 194px;
  white-space: nowrap;
  max-block-size: 103px;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}
.content__card-link:has(:hover) .content__video-card {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link:has(:active) .content__video-card {
  text-decoration: none;
  background-color: #545050;
}
.content__video-card-title {
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.content__video-card-title:not(:last-child) {
  margin-block-end: 6px;
}
.content__video-card-description {
  overflow: hidden;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  white-space: wrap;
}
.content__video-card-thumbnail {
  object-fit: cover;
  object-position: left;
  inline-size: 200px;
  block-size: 103px;
}
.more-button {
  width: 99%;
  margin: 2px;
  padding: 6px 0px;
}
